/* ===========================
   COLORES INSTITUCIONALES
=========================== */

:root{

    --primary:#003B71;

    --secondary:#F7941D;

    --background:#F4F6F9;

    --text:#2C3E50;

    --border:#DADADA;

    --white:#FFFFFF;

}