<table class="header-table">

    <tr>

        <td class="logo-cell" rowspan="4">

            <img
                src="/logo-yavirac.png"
                alt="Logo Yavirac">

        </td>

        <td class="title-cell">

            <strong>

                INSTITUTO SUPERIOR TECNOLÓGICO DE TURISMO Y PATRIMONIO YAVIRAC

            </strong>

        </td>

        <td class="code-cell">

            {{ codigo() }}

        </td>

    </tr>

    <tr>

        <td>

            MACROPROCESO 01 DOCENCIA

        </td>

        <td rowspan="3" class="format-cell">

            FORMATO

        </td>

    </tr>

    <tr>

        <td>

            PROCESO DE FORMACIÓN PRÁCTICA EN EL ENTORNO LABORAL REAL

        </td>

    </tr>

    <tr>

        <td class="document-cell">

            {{ titulo() }}

        </td>

    </tr>

</table>