<div class="fecha">

    D.M. Quito,

    {{ carta().espacioFirma.fecha }}

</div>

<table class="student-table">

<tr>

<td class="label">

Yo,

</td>

<td>

<strong>

{{ carta().estudiante.nombre }}

</strong>

</td>

<td class="label">

con C.C.

</td>

<td>

<strong>

{{ carta().estudiante.cedula }}

</strong>

</td>

<td class="label">

estudiante de

</td>

<td>

3ro

</td>

</tr>

<tr>

<td>

de la carrera

</td>

<td colspan="5">

<strong>

DESARROLLO DE SOFTWARE

</strong>

</td>

</tr>

<tr>

<td colspan="6">

DEL INSTITUTO SUPERIOR TECNOLÓGICO DE TURISMO Y PATRIMONIO YAVIRAC,

</td>

</tr>

<tr>

<td>

asignado a

</td>

<td colspan="5">

<strong>

INSTITUTO DE CAPACITACIÓN Y ESPECIALIZACIÓN AMAUTA-TECH S.A.S. B.I.C.

</strong>

</td>

</tr>

</table>