.fecha{

    text-align:right;

    margin:18px 0 25px;

    font-size:13px;

}

.student-table{

    width:100%;

    border-collapse:collapse;

    margin-bottom:25px;

}

.student-table td{

    padding:4px 6px;

    font-size:13px;

    vertical-align:top;

}

.label{

    white-space:nowrap;

    font-weight:bold;

}